*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #F3F3FF;
}
.container{
  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 120px;
    
    
}
.heading{
  margin-top: 120px;
  font-size: x-large;
  letter-spacing: 2px;
  color:#2D2B5C;
}
.image{
    margin-left: 900px;
}
.back{
    
    width:180px;
    font-size: 18px;
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
    background-color: black;
    border-radius: 20px;
    color: #F6F6F6;
    border: 1px solid #121313;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}